@use "../../scss/breakpoint" as *;

.movie-list {
  .swiper-slide {
    width: 15%;

    @include tablet {
      width: 30%;
    }

    @include mobile {
      width: 40%;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
  --swiper-navigation-color: red;
}
