$body-bg: #ececec;
$main-color: #ff3c00;
$txt-color: #171717;
$border-color: #e0e0e0;
$border-color-dark: #b0b0b0;
$border-color-light: #f0f0f0;


$white: #fff;
$black: #000;

$box-shadow: rgba(6, 6, 136, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;